@import "variables.scss";
@import "~@progress/kendo-theme-bootstrap/dist/all.scss";
@import "~bootstrap/scss/bootstrap.scss";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts" !default;

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: $font-size;
}

.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.no-overflow{
	overflow: hidden !important;
}

.auto-overflow{
	overflow: auto;
}

.reset-overflow{
	overflow: initial !important;
}

.center-margin{
	margin-left: auto;
	margin-right: auto;
}
.overlayer {
	position: absolute;
	display: block;
	z-index: 21;
	&.fullwidth {
		width: 100%;
	}
}
.overlayer-wrapper {
	position: relative;
	display: block;
	z-index: 10;
}
.overlay-fixed {
	position: fixed !important;
	top: auto !important;
}
.top-left {
	position: absolute !important;
	top: 0;
	left: 0;
}
.top-right {
	position: absolute !important;
	top: 1px;
	right: 0;
}
.bottom-left {
	position: absolute !important;
	bottom: 1px;
	left: 0;
}
.bottom-right {
	position: absolute !important;
	bottom: 0;
	right: 0;
}
.pull-bottom{
	position: absolute !important;
	bottom: 0;
}

.pull-up{
	position:absolute !important;
	top: 0;
}

.pull-center {
	left: 0;
}
.pull-right{
	float:right !important;
}
.pull-center{
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	display: table;
	z-index: 1;
}
.cursor{
	cursor: pointer;
}
.scroll-x-hidden{
	overflow-x: hidden !important;
}

/* Generic Padding Helpers
------------------------------------
*/

@mixin generate-paddings-options($n, $j:0){
	@if $j <= $n {
		@for $i from $j through $n {
			$step : $i*1;

			.p-t-#{$step} {
				padding-top: ($step*1px) !important;
			}
			.p-r-#{$step} {
				padding-right: ($step*1px) !important;
			}
			.p-l-#{$step} {
				padding-left: ($step*1px) !important;
			}
			.p-b-#{$step} {
				padding-bottom: ($step*1px) !important;
			}
			.padding-#{$step} {
				padding: ($step*1px) !important;
			}
		}
	}
}

@include generate-paddings-options(50);

/* Generic Margin Helpers
------------------------------------
 */
@mixin generate-margin-options($n, $j: 0) {
	@if $j <= $n {
		@for $i from $j through $n {
			$step : $i*1;
			.m-t-#{$step} {
				margin-top: ($step*1px) !important;
			}
			.m-r-#{$step} {
				margin-right: ($step*1px) !important;;
			}
			.m-l-#{$step} {
				margin-left: ($step*1px) !important;;
			}
			.m-b-#{$step} {
				margin-bottom: ($step*1px) !important;;
			}
		}
	}
}

@include generate-margin-options(50);

/* Generic Width Helpers
------------------------------------
 */
@mixin generate-width-options($n, $j: 0) {
	@if $j <= $n {
		@for $i from $j through $n {
			$step: $i*1;
			.width-#{$step} {
				width: ($step*1px);
			}
		}
	}
}

@include generate-width-options(300);

/* Generic Font Size Helpers
------------------------------------
 */
@mixin generate-font-size-options($n, $j: 8) {
	@if $j <= $n {
		@for $i from $j through $n {
			$step: $i*1;
			.f-#{$step} {
				font-size: ($step*1px);
			}
		}
	}
}

@include generate-font-size-options(100);

.full-height{
	height: 100% !important;
}
.full-width{
	width: 100%;
}
.hide {
	display: none !important;
}
.inline{
	display:inline-block !important;
}
.block{
	display: block !important;
}
.b-blank{
	border-color:#000;
}

/* Border Helpers
------------------------------------
*/
.b-a,
.b-r,
.b-l,
.b-t,
.b-b{
	border-style: solid;
	border-width: 0;
}

.b-r{
	border-right-width:1px;
}
.b-l{
	border-left-width:1px;
}
.b-t{
	border-top-width:1px;
}
.b-b{
	border-bottom-width:1px;
}
.b-a{
	border-width:1px;
}

.b-dashed{
	border-style: dashed;
}

.b-thick{
	border-width : 2px;
}
.b-light{
	border-color:rgba(0, 0, 0, 0.1) !important;
}
.b-transparent{
	border-color:rgba(0, 0, 0, 0.4) !important;
}
.b-transparent-white{
	border-color:rgba(255, 255, 255, 0.3) !important;
}
.b-grey{
	border-color:theme-color("light") !important;
}
.b-white{
	border-color:#fff !important;
}
.b-primary{
	border-color:theme-color("primary") !important;
}
.b-complete{
	border-color:theme-color("primary") !important;
}
.b-success{
	border-color:theme-color("success") !important;
}
.b-info{
	border-color:theme-color("info") !important;
}
.b-danger{
	border-color:theme-color("danger") !important;
}
.b-warning{
	border-color:theme-color("warning") !important;
}

/* Text Helpers
------------------------------------
*/
.t-white{
	color:#fff !important;
}
.t-light{
	color:rgba(0, 0, 0, 0.1) !important;
}
.t-primary{
	color:theme-color("primary") !important;
}
.t-complete{
	color:theme-color("primary") !important;
}
.t-success{
	color:theme-color("success") !important;
}
.t-info{
	color:theme-color("info") !important;
}
.t-danger{
	color:theme-color("danger") !important;
}
.t-warning{
	color:theme-color("warning") !important;
}

/* Button Helpers
------------------------------------
*/
.btn-light{
	border-color:rgba(0, 0, 0, 0.1) !important;
}
.btn-primary{
	background-color: rgba(255, 255, 255, 1) !important;
	border-color:theme-color("primary") !important;
	color:theme-color("primary") !important;
	&:hover {
		background-color: rgba(theme-color("primary"), 1) !important;
		color: #fff !important;
	}
}
.btn-complete{
	background-color: rgba(255, 255, 255, 1) !important;
	border-color:theme-color("primary") !important;
	color:theme-color("primary") !important;
	&:hover {
		background-color: rgba(theme-color("primary"), 1) !important;
		color: #fff !important;
	}
}
.btn-success{
	background-color: rgba(255, 255, 255, 1) !important;
	border-color:theme-color("success") !important;
	color:theme-color("success") !important;
	&:hover {
		background-color: rgba(theme-color("success"), 1) !important;
		color: #fff !important;
	}
}
.btn-info{
	background-color: rgba(255, 255, 255, 1) !important;
	border-color:theme-color("info") !important;
	color:theme-color("info") !important;
	&:hover {
		background-color: rgba(theme-color("info"), 1) !important;
		color: #fff !important;
	}
}
.btn-danger{
	background-color: rgba(255, 255, 255, 1) !important;
	border-color:theme-color("danger") !important;
	color:theme-color("danger") !important;
	&:hover {
		background-color: rgba(theme-color("danger"), 1) !important;
		color: #fff !important;
	}
}
.btn-warning{
	background-color: rgba(255, 255, 255, 1) !important;
	border-color:theme-color("warning") !important;
	color:theme-color("warning") !important;
	&:hover {
		background-color: rgba(theme-color("warning"), 1) !important;
		color: #fff !important;
	}
}

kendo-multiselect, kendo-dropdownlist, kendo-dateinput {
	font-size: 14px !important;
}

kendo-dropdownlist {
	span[role="listbox"] {
		background-color: white !important;
	}
}

kendo-multiselect {
	kendo-taglist {
		li {
			font-size: 12px !important;
		}
	}
}

kendo-textbox, kendo-textarea, kendo-maskedtextbox, kendo-numerictextbox {
	font-size: 14px !important;
}


.group-start {
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	margin-right: 10px;
	margin-left: 10px;
	height: 100%;
	vertical-align: middle;
}

button {
	i {
		font-size: 16px;
		padding-top: 2px;
		padding-bottom: 2px;
	}
}

.k-dialog .k-dialog-titlebar .k-window-title {
	padding-top: 0;
	padding-bottom: 0;
}

.k-notification-group {
	z-index: 11001;
}

kendo-label {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	justify-content: center !important;
}

textarea[readonly], input[readonly] {
	border-color: rgba(206, 212, 218, 0.4);
}

kendo-label {
	&.required {
		.k-label:after {
			color: theme-color("danger");
			content: "*";
			position: relative;
			right: -4px;
		}
	}
}
