*.classpath
*.project
*.prefs
core/src/com/ifs/ksan/gw/target/
core/src/com/ifs/ksan/osd/target/
core/src/com/ifs/ksan/utils/target/
core/backend/ifswatcher/target/
*.class
*.jar
.factorypath
.vscode/settings.json