<kendo-multiselect #searchMultiSelect
				   class="mr-1"
				   [disabled]="disabled"
				   [data]="filteredData"
				   [(ngModel)]="selectedValues"
				   [textField]="'text'"
				   [valueField]="'name'"
				   [valuePrimitive]="true"
				   [autoClose]="false"
				   [clearButton]="false"
				   [filterable]="true"
				   [itemDisabled]="getItemDisabled"
				   [placeholder]="placeholder | translate"
				   (valueChange)="onChange($event)"
				   kendoMultiSelectSummaryTag>
	<ng-template kendoMultiSelectItemTemplate let-dataItem>
		<input id="item" type="checkbox" kendoCheckBox [checked]="isItemSelected(dataItem)">
		<label for="item" class="m-l-10 m-t-2 m-b-2"> {{ dataItem.text }}</label>
	</ng-template>
</kendo-multiselect>
