
:host ::ng-deep {
	.k-multiselect {

		width: 220px;

		.k-multiselect-wrap {
			display: flex;
			flex-direction: row;

			kendo-taglist {
				.k-button {
					width: 145px;
				}
			}
			.k-searchbar {
				float: none;
				width: 100%;
				display: inline-flex;

				.k-input {
					width: 100%;
				}
			}
		}
	}
}
