<ng-container *ngIf="enablePeriodSearch">
	<div class="group-start" style="display: inline-block" *ngIf="displayGroupStart"></div>
	<div class="expand-search-date m-l-5 m-r-5" *ngIf="periodFields.length > 1">
		<kendo-dropdownlist class="expand-search-date-flex"
												[disabled]="disabled"
												[data]="periodFields"
												textField="text"
												valueField="value"
												[valuePrimitive]="true"
												[(value)]="selectedPeriodField">
			<ng-template kendoDropDownListItemTemplate let-dataItem>
				<span class="fs-12">{{ dataItem.text | translate }}</span>
			</ng-template>
			<ng-template kendoDropDownListValueTemplate let-dataItem>
				<span class="fs-12">{{ dataItem?.text | translate }}</span>
			</ng-template>
		</kendo-dropdownlist>
	</div>

	<kendo-daterange class="expand-search-date m-t-1">
		<label class="m-b-0">
			<kendo-dateinput kendoDateRangeStartInput
											 [format]="startDateFormat"
											 [disabled]="disabled"
											 [value]="startDate"
											 (valueChange)="onStartDateTimeChanged($event)">
			</kendo-dateinput>
		</label>
		<label class="m-l-5 m-r-5 m-b-0">
			~
		</label>
		<label class="m-b-0">
			<kendo-dateinput kendoDateRangeEndInput
											 [format]="endDateFormat"
											 [disabled]="disabled"
											 [value]="endDate"
											 (valueChange)="onEndDateTimeChanged($event)">
			</kendo-dateinput>
		</label>
		<kendo-daterange-popup>
			<ng-template kendoDateRangePopupTemplate>
				<kendo-multiviewcalendar kendoDateRangeSelection (valueChange)="onCalendarSelect($event)">
				</kendo-multiviewcalendar>
				<div class="row" style="padding-left: 55px; padding-right: 55px;" *ngIf="displayTime">
					<div class="col-6 text-center">
						<label class="m-r-5" for="startTime">{{ 'UL_COMMON__SEARCH_DATE_START_TIME' | translate }}</label>
						<kendo-timepicker
							id="startTime"
							[format]="'HH:mm:ss'"
							[value]="startDate"
							(valueChange)="onStartTimeChanged($event)"
							[popupSettings]="{ appendTo: 'component' }"
						>
						</kendo-timepicker>
					</div>
					<div class="col-6 text-center">
						<label class="m-r-5" for="endTime">{{ 'UL_COMMON__SEARCH_DATE_END_TIME' | translate }}</label>
						<kendo-timepicker
							id="endTime"
							[format]="'HH:mm:ss'"
							[value]="endDate"
							(valueChange)="onEndTimeChanged($event)"
							[popupSettings]="{ appendTo: 'component' }"
						></kendo-timepicker>
					</div>
				</div>
			</ng-template>
		</kendo-daterange-popup>
	</kendo-daterange>

	<kendo-splitbutton class="expand-search-date m-l-5"  [data]="hoursList" (itemClick)="modifyHoursFromDate($event)" [disabled]="disabled || !startDate" *ngIf="hoursList && hoursList.length > 0">
		{{ 'UL_COMMON__PERIOD'  | translate }}
		<ng-template kendoSplitButtonItemTemplate let-dataItem>
			<span>-{{dataItem}}{{ 'UL_COMMON__HOURS'  | translate }}</span>
		</ng-template>
	</kendo-splitbutton >
	<kendo-splitbutton class="expand-search-date m-l-5"  [data]="daysList" (itemClick)="modifyDaysFromDate($event)" [disabled]="disabled || !startDate" *ngIf="daysList && daysList.length > 0">
		{{ 'UL_COMMON__PERIOD'  | translate }}
		<ng-template kendoSplitButtonItemTemplate let-dataItem>
			<span>-{{dataItem}}{{ 'UL_COMMON__DAYS'  | translate }}</span>
		</ng-template>
	</kendo-splitbutton >
	<div class="reduction-search-date"><button type="button" class="k-button" #anchor (click)="searchDatePopup()"><i class="k-icon k-i-calendar"></i></button></div>
	<kendo-popup (anchorViewportLeave)="showSearchPeriodPopup = false" *ngIf="showSearchPeriodPopup"
				 [popupAlign]="popupAlign" class="reduction-search-date" [anchor]="anchor">
		<div class="padding-10">
			<kendo-dropdownlist *ngIf="periodFields.length > 1"
													class="w-100"
													[disabled]="disabled"
													[data]="periodFields"
													textField="text"
													valueField="value"
													[valuePrimitive]="true"
													[(value)]="selectedPeriodField">
				<ng-template kendoDropDownListItemTemplate let-dataItem>
					<span class="fs-12">{{ dataItem.text | translate }}</span>
				</ng-template>
				<ng-template kendoDropDownListValueTemplate let-dataItem>
					<span class="fs-12">{{ dataItem?.text | translate }}</span>
				</ng-template>
			</kendo-dropdownlist>
			<div class="display-flex m-t-5">
				<kendo-daterange>
					<label class="m-b-0">
						<kendo-dateinput kendoDateRangeStartInput
														 [format]="startDateFormat"
														 [disabled]="disabled"
														 [value]="startDate"
														 (valueChange)="onStartDateTimeChanged($event)">
						</kendo-dateinput>
					</label>
					<label class="m-l-5 m-r-5 m-b-0">
						~
					</label>
					<label class="m-b-0">
						<kendo-dateinput kendoDateRangeEndInput
														 [format]="endDateFormat"
														 [disabled]="disabled"
														 [value]="endDate"
														 (valueChange)="onEndDateTimeChanged($event)">
						</kendo-dateinput>
					</label>
					<kendo-daterange-popup>
						<ng-template kendoDateRangePopupTemplate>
							<kendo-multiviewcalendar kendoDateRangeSelection (valueChange)="onCalendarSelect($event)">
							</kendo-multiviewcalendar>
							<div class="row" style="padding-left: 55px; padding-right: 55px;" *ngIf="displayTime">
								<div class="col-6 text-center">
									<label class="m-r-5" for="startTimePopup">{{ 'UL_COMMON__SEARCH_DATE_START_TIME' | translate }}</label>
									<kendo-timepicker
										id="startTimePopup"
										[format]="'HH:mm:ss'"
										[value]="startDate"
										(valueChange)="onStartTimeChanged($event)"
										[popupSettings]="{ appendTo: 'component' }"
									>
									</kendo-timepicker>
								</div>
								<div class="col-6 text-center">
									<label class="m-r-5" for="endTimePopup">{{ 'UL_COMMON__SEARCH_DATE_END_TIME' | translate }}</label>
									<kendo-timepicker
										id="endTimePopup"
										[format]="'HH:mm:ss'"
										[value]="endDate"
										(valueChange)="onEndTimeChanged($event)"
										[popupSettings]="{ appendTo: 'component' }"
									></kendo-timepicker>
								</div>
							</div>
						</ng-template>
					</kendo-daterange-popup>
				</kendo-daterange>
				<kendo-splitbutton class="display-flex m-l-5"  [data]="hoursList" (itemClick)="modifyHoursFromDate($event)" [disabled]="disabled || !startDate" *ngIf="hoursList && hoursList.length > 0">
					{{ 'UL_COMMON__PERIOD'  | translate }}
					<ng-template kendoSplitButtonItemTemplate let-dataItem>
						<span>-{{dataItem}}{{ 'UL_COMMON__HOURS'  | translate }}</span>
					</ng-template>
				</kendo-splitbutton >
				<kendo-splitbutton class="display-flex m-l-5" [data]="daysList" (itemClick)="modifyDaysFromDate($event)" [disabled]="disabled || !startDate" *ngIf="daysList && daysList.length > 0">
					{{ 'UL_COMMON__PERIOD'  | translate }}
					<ng-template kendoSplitButtonItemTemplate let-dataItem>
						<span>-{{dataItem}}{{ 'UL_COMMON__DAYS'  | translate }}</span>
					</ng-template>
				</kendo-splitbutton >
			</div>
		</div>
	</kendo-popup>
</ng-container>
<ng-container *ngIf="enableKeywordSearch">
	<div class="group-start" style="display: inline-block" *ngIf="displayGroupStart"></div>
	<div style="display: inline-block">
		<kendo-multiselect #searchFieldsMultiSelect
						   class="mr-1"
						   [disabled]="disabled"
						   [data]="items"
						   [(ngModel)]="searchFields"
						   [textField]="'text'"
						   [valueField]="'value'"
						   [autoClose]="false"
						   [clearButton]="false"
						   [filterable]="true"
						   [placeholder]="'UL_COMMON__SEARCH_FIELD' | translate"
						   kendoMultiSelectSummaryTag>
			<ng-template kendoMultiSelectItemTemplate let-dataItem>
				<input id="item" type="checkbox" kendoCheckBox [checked]="isItemSelected(dataItem)">
				<label for="item" class="m-l-10 m-t-2 m-b-2"> {{ dataItem.text }}</label>
			</ng-template>
		</kendo-multiselect>

		<kendo-textbox [clearButton]="true" [(ngModel)]="searchKeyword"
					   placeholder="{{'UL_COMMON__SEARCH_KEYWORD' | translate }}" [disabled]="disabled"
					   (keydown)="searchKeywordEnter($event)">
		</kendo-textbox>
	</div>
</ng-container>
<ng-container>
	<div style="display: inline-block">
		<div kendoTooltip style="display: inline; text-align: center;">
			<button kendoButton [primary]="true" look="outline" class="m-l-10" [disabled]="disabled" (click)="doSearch()" title="{{ 'UL_BUTTON_COMMON_SEARCH' | translate }}">
				<i [class]="searchButtonIconClass"></i> <span class="m-l-5" *ngIf="searchButtonTitle">{{ searchButtonTitle | translate }}</span>
			</button>
			<button kendoButton [primary]="false" look="outline" class="m-l-5" *ngIf="enableRefreshButton" [disabled]="disabled" (click)="doSearch()" title="{{ 'UL_BUTTON_COMMON_REFRESH' | translate }}">
				<i class="fas fa-sync-alt"></i>
			</button>
		</div>
	</div>
</ng-container>
