<div class="login-wrapper ">
	<!-- START Login Background Pic Wrapper-->
	<div class="bg-pic">
		<!-- START Background Pic-->
		<div class="img-holder" [ngStyle]="{'background': 'url(assets/img/account-background-img.jpg)'}"></div>
		<!-- START Background Caption-->
		<div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
			<h1 class="semi-bold text-white">
				<span style="font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;">
					<span style="font-size:61px;">InfiniStor</span>
				</span>
			</h1>
			<h2 class="semi-bold text-white">
				THE Scale-Out NAS File System for Software Defined Storage
			</h2>

			<p class="small">
				Copyright &copy; 2018 PSPACE Technologies, inc. All rights reserved.
			</p>
		</div>
		<!-- END Background Caption-->
	</div>
	<!-- END Login Background Pic Wrapper-->
	<!-- START Login Right Container-->
	<div class="login-container bg-white">
		<div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
			<img alt="" class="m-t-5" src="/assets/img/logo.png">

			<p class="p-t-35">Sign into CSSP Managemant Portal</p>
			<!-- START Login Form -->
			<form class="p-t-15" role="form" #loginForm="ngForm" (submit)="onSubmit()">
				<!-- START Form Control-->
				<div class="form-group form-group-default" [class.has-error]="loginUserName.invalid && (loginUserName.dirty || loginUserName.touched)">
					<label for="userId">User ID</label>
					<input type="text" id="userId" name="userId" [(ngModel)]="requestLogin.LoginId" #loginUserName="ngModel" required placeholder="{{ 'UL_COMMON_ACCOUNT_USER_ID' | translate }}" class="form-control">
				</div>
				<div *ngIf="loginUserName.invalid && (loginUserName.dirty || loginUserName.touched)">
					<label *ngIf="loginUserName.errors.required" class="error">{{ 'EM_COMMON_ACCOUNT_REQUIRE_LOGIN_ID' | translate }}</label>
				</div>
				<!-- END Form Control-->
				<!-- START Form Control-->
				<div class="form-group form-group-default" [class.has-error]="loginPassword.invalid && (loginPassword.dirty || loginPassword.touched)">
					<label for="password">Password</label>
					<input type="password" class="form-control" placeholder="{{ 'UL_COMMON_ACCOUNT_PASSWORD' | translate }}" id="password" name="password" [(ngModel)]="requestLogin.Password" #loginPassword="ngModel" required>
				</div>
				<div *ngIf="loginPassword.invalid && (loginPassword.dirty || loginPassword.touched)">
					<label *ngIf="loginPassword.errors.required" class="error">{{ 'EM_COMMON_ACCOUNT_REQUIRE_PASSWORD' | translate }}</label>
				</div>
				<!-- START Form Control-->
				<div class="row">
					<div class="col-md-6 no-padding sm-p-l-10">
						<div class="checkbox">
							<input type="checkbox" value="1" id="rememberMe" name="rememberMe" [(ngModel)]="requestLogin.RememberMe">
							<label class="m-l-10" for="rememberMe">{{ 'UL_COMMON_ACCOUNT_REMEMBER_ME' | translate }}</label>
						</div>
					</div>
					<div class="col-md-6 d-flex align-items-center justify-content-end">
						<a [routerLink]="'/account/forgot-password'" class="text-info small">{{ 'UL_BUTTON_ACCOUNT_FORGOT_PASSWORD' | translate }}</a>
					</div>
				</div>
				<!-- END Form Control-->
				<div class="row">
					<div class="col-md-12 no-padding m-t-10">
						<button kendoButton [primary]="true" look="outline" [disabled]="loginForm.invalid" title="{{ 'UL_BUTTON_ACCOUNT_LOGIN' | translate }}">
							{{ 'UL_BUTTON_ACCOUNT_LOGIN' | translate }}
						</button>
					</div>
				</div>
			</form>
			<!--END Login Form-->
		</div>
	</div>
	<!-- END Login Right Container-->
</div>
