[Unit]
Description=KSAN API Service
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a ksanapi
ExecStop=/usr/bin/docker stop -t 2 ksanapi

[Install]
WantedBy=multi-user.target
