[Unit]
Description=KSAN Portal Service
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a ksanportal
ExecStop=/usr/bin/docker stop -t 2 ksanportal

[Install]
WantedBy=multi-user.target
