<kendo-appbar [position]="'top'" *ngIf="loginInfo">
	<kendo-appbar-section>
		<img alt="logo" src="assets/img/logo.png">
	</kendo-appbar-section>

	<kendo-appbar-section>
	</kendo-appbar-section>

	<kendo-appbar-spacer [width]="'32px'"></kendo-appbar-spacer>

	<kendo-appbar-section>
		<kendo-menu>
			<kendo-menu-item text="Servers">
				<ng-template kendoMenuItemLinkTemplate let-item="item" let-index="index">
					<a [kendoMenuItemLink]="index" routerLink="/servers">
						<span>
							<i class="fas fa-server m-r-10"></i> {{ item.text }}
							<span *ngIf="item.items && item.items.length" [kendoMenuExpandArrow]="index"></span>
						</span>
					</a>
				</ng-template>
			</kendo-menu-item>
			<kendo-menu-item text="Disks">
				<ng-template kendoMenuItemTemplate let-item="item" let-index="index">
					<i class="fas fa-hdd m-r-10"></i> {{ item.text }}
					<span *ngIf="item.items && item.items.length"></span>
				</ng-template>
				<kendo-menu-item text="Disks" cssClass="main-menu-item">
					<ng-template kendoMenuItemLinkTemplate let-item="item" let-index="index">
						<a [kendoMenuItemLink]="index" routerLink="/disks">
							<i class="fas fa-hdd m-r-10"></i> {{ item.text }}
							<span *ngIf="item.items && item.items.length" [kendoMenuExpandArrow]="index"></span>
						</a>
					</ng-template>
				</kendo-menu-item>
				<kendo-menu-item text="Disk Pools" cssClass="main-menu-item">
					<ng-template kendoMenuItemLinkTemplate let-item="item" let-index="index">
						<a [kendoMenuItemLink]="index" routerLink="/disks/disk-pools">
							<i class="fas fa-database m-r-10"></i> {{ item.text }}
							<span *ngIf="item.items && item.items.length" [kendoMenuExpandArrow]="index"></span>
						</a>
					</ng-template>
				</kendo-menu-item>
			</kendo-menu-item>
			<kendo-menu-item text="Services">
				<ng-template kendoMenuItemLinkTemplate let-item="item" let-index="index">
					<a [kendoMenuItemLink]="index" routerLink="/services">
						<i class="fas fa-microchip m-r-10"></i> {{ item.text }}
						<span *ngIf="item.items && item.items.length" [kendoMenuExpandArrow]="index"></span>
					</a>
				</ng-template>
			</kendo-menu-item>
		</kendo-menu>
	</kendo-appbar-section>

	<kendo-appbar-spacer></kendo-appbar-spacer>

	<kendo-appbar-section class="actions">
		<kendo-badge-container>
			<button class="k-button k-button-clear">
				<kendo-icon [name]="'bell'"></kendo-icon>
			</button>
			<kendo-badge [position]="'inside'" [shape]="'dot'" [size]="'small'" [themeColor]="'warning'"></kendo-badge>
		</kendo-badge-container>
		<span class="k-appbar-separator m-l-15 m-r-10"></span>
	</kendo-appbar-section>

	<kendo-appbar-section>
		<div #target>
			<kendo-avatar [height]="'26px'" [initials]="'Supervisor'" [shape]="'circle'" [width]="'26px'"></kendo-avatar>
		</div>
	</kendo-appbar-section>
	<kendo-contextmenu #menu [target]="target" [items]="profileMenuItems" showOn="click">
		<ng-template kendoMenuItemTemplate let-item="item">
			<div style="padding: 10px;" *ngIf="item.value === 'password-change'" (click)="showChangePassword('UL_COMMON_ACCOUNT_CHANGE_PASSWORD', changePasswordDialogContent, changePasswordDialogActions); menu.hide()">{{ item.text | translate }}</div>
			<div style="padding: 10px;" *ngIf="item.value !== 'password-change'" (click)="onClickProfileMenu(item.value); menu.hide()">{{ item.text | translate }}</div>
		</ng-template>
	</kendo-contextmenu>
</kendo-appbar>
<router-outlet></router-outlet>
<div kendoDialogContainer></div>

<ng-template #changePasswordDialogContent>
	<form class="k-form k-form-horizontal" autocomplete="off" [formGroup]="formGroupChangePassword">
		<fieldset class="k-form-fieldset">
			<legend class="k-form-legend">{{ 'UL_COMMON_ACCOUNT_CURRENT_PASSWORD' | translate }}</legend>
			<kendo-formfield [orientation]="'horizontal'">
				<kendo-label for="Password" text="{{ 'UL_COMMON_ACCOUNT_CURRENT_PASSWORD' | translate }}"></kendo-label>
				<input kendoTextBox type="password" formControlName="Password" id="Password" [disableControl]="inCommunication" />

				<kendo-formhint>{{ 'EM_COMMON_ACCOUNT_REQUIRE_CURRENT_PASSWORD' | translate }}</kendo-formhint>
				<kendo-formerror *ngIf="formGroupChangePassword.controls.Password.errors?.required">{{ 'EM_COMMON_ACCOUNT_REQUIRE_CURRENT_PASSWORD' | translate }}</kendo-formerror>
				<kendo-formerror *ngIf="formGroupChangePassword.controls.Password.errors?.minlength">{{ 'EM_COMMON_ACCOUNT_REQUIRE_MIN_6_LENGTH' | translate }}</kendo-formerror>
			</kendo-formfield>

			<legend class="k-form-legend">{{ 'UL_COMMON_ACCOUNT_NEW_PASSWORD' | translate }}</legend>
			<kendo-formfield [orientation]="'horizontal'">
				<kendo-label for="NewPassword" text="{{ 'UL_COMMON_ACCOUNT_NEW_PASSWORD' | translate }}"></kendo-label>
				<input kendoTextBox type="password" formControlName="NewPassword" id="NewPassword" [disableControl]="inCommunication" />

				<kendo-formhint>{{ 'EM_COMMON_ACCOUNT_REQUIRE_CHANGE_PASSWORD' | translate }}</kendo-formhint>
				<kendo-formerror *ngIf="formGroupChangePassword.controls.NewPassword.errors?.required">{{ 'EM_COMMON_ACCOUNT_REQUIRE_CHANGE_PASSWORD' | translate }}</kendo-formerror>
				<kendo-formerror *ngIf="formGroupChangePassword.controls.NewPassword.errors?.minlength">{{ 'EM_COMMON_ACCOUNT_REQUIRE_MIN_6_LENGTH' | translate }}</kendo-formerror>
			</kendo-formfield>
			<kendo-formfield [orientation]="'horizontal'">
				<kendo-label for="NewConfirmPassword" text="{{ 'UL_COMMON_ACCOUNT_CONFIRM_NEW_PASSWORD' | translate }}"></kendo-label>
				<input kendoTextBox type="password" formControlName="NewConfirmPassword" id="NewConfirmPassword" [disableControl]="inCommunication" />

				<kendo-formhint>{{ 'EM_COMMON_ACCOUNT_REQUIRE_CHANGE_CONFIRM_PASSWORD' | translate }}</kendo-formhint>
				<kendo-formerror *ngIf="formGroupChangePassword.controls.NewConfirmPassword.errors?.required">{{ 'EM_COMMON_ACCOUNT_REQUIRE_CHANGE_CONFIRM_PASSWORD' | translate }}</kendo-formerror>
				<kendo-formerror *ngIf="formGroupChangePassword.controls.NewConfirmPassword.errors?.minlength">{{ 'EM_COMMON_ACCOUNT_REQUIRE_MIN_6_LENGTH' | translate }}</kendo-formerror>
				<kendo-formerror *ngIf="formGroupChangePassword.controls.NewConfirmPassword.errors?.equalTo">{{ 'EM_COMMON_ACCOUNT_CHANGING_PASSWORD_DO_NOT_MATCH' | translate }}</kendo-formerror>
			</kendo-formfield>
		</fieldset>
	</form>
</ng-template>
<ng-template #changePasswordDialogActions>
	<button kendoButton (click)="changePassword()" primary="true" [disabled]="formGroupChangePassword.invalid || inCommunication">{{ 'UL_COMMON_ACCOUNT_CHANGE_PASSWORD' | translate }}</button>
	<button kendoButton (click)="dialog.close()" [disabled]="inCommunication">{{ 'UL_BUTTON_COMMON_CANCEL' | translate }}</button>
</ng-template>
