[Unit]
Description=Systemd ifs-watcher Daemon

[Service]
Type=simple
ExecStart="java -jar -Dlogback.configurationFile=/usr/local/pspace/bin/ifs-wathcer.xml /usr/local/pspace/bin/ifs-watcher /usr/local/pspace/etc/watcher.conf"
Restart=on-failure

[Install]
WantedBy=multi-user.target