[Unit]
Description=Systemd ifs-watcher Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/java -jar -Dlogback.configurationFile=/usr/local/pspace/bin/ifs-watcher.xml /usr/local/pspace/bin/ifs-watcher /usr/local/pspace/etc/watcher.conf
ExecStop=/bin/kill -9 ${MAINPID}
Restart=on-failure

[Install]
WantedBy=multi-user.target