**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.svn
**/.vs
**/.vscode
**/*.*proj.user
**/azds.yaml
**/charts
**/bin
**/obj
**/Dockerfile
**/Dockerfile.develop
**/docker-compose.yml
**/docker-compose.*.yml
**/*.dbmdl
**/*.jfm
**/secrets.dev.yaml
**/values.dev.yaml
**/.toolstarget
**/ClientApp/node_modules
.idea
.vs
*.log
bin
obj
etc
dist
Session
Gateway
Portal
appsettings sample.json
appsettings.Development copy.json
appsettings.Development.json
appsettings.json
pspace.pfx