<ng-container>
	<!--<kendo-dropdownbutton [data]="exportButtons" class="fs-14" (itemClick)="export(button.text)" [disabled]="disabled">-->
	<!--	<i class="{{ groupButtonIconClass }}"></i>{{ groupButtonTitle }}-->
	<!--	<ng-template kendoDropDownButtonItemTemplate let-dataItem>-->
	<!--		<i class="{{ dataItem.icon }}"></i>&nbsp;{{ dataItem.text }}-->
	<!--	</ng-template>-->
	<!--</kendo-dropdownbutton>-->
	<div kendoTooltip style="display: inline; text-align: center; padding-top: 10px;">
		<button kendoButton [primary]="false" look="outline" class="m-l-5 m-t-1" (click)="exportToExcel('excel')" [disabled]="disabled" title="{{ 'UL_BUTTON_COMMON_EXPORT_TO_EXCEL' | translate }}">
			<i class="{{ groupButtonIconClass }}"></i>{{ groupButtonTitle }}
		</button>
	</div>

	<kendo-excelexport [data]="data" [fileName]="fileName" #excelexport>
		<kendo-excelexport-column [field]="column.field" [title]="column.title" [width]="column.width" *ngFor="let column of grid.columns">
		</kendo-excelexport-column>
	</kendo-excelexport>
	<div style="position: absolute; left: -1000px; top: 0;">
		<kendo-pdf-export paperSize="A4" margin="1cm" [repeatHeaders]="true" #pdfexport>
			<!--<table class="table">
				<thead>
					<tr>
						<th *ngFor="let column of grid.columns">{{ column.title }}</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let row of data">
						<td *ngFor="let column of grid.columns">{{ row[column.field] }}</td>
					</tr>
				</tbody>
			</table>-->
		</kendo-pdf-export>
	</div>
</ng-container>
