<div class="login-wrapper ">
	<!-- START Forgot Password Background Pic Wrapper-->
	<div class="bg-pic">
		<!-- START Background Pic-->
		<div class="img-holder"  [ngStyle]="{'background':'url(assets/img/account-background-img.jpg)'}"></div> 
		<!-- START Background Caption-->
		<div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
			<h1 class="semi-bold text-white">
				<span style="font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;">
					<span style="font-size:61px;">InfiniStor</span>
				</span>
			</h1>
			<h2 class="semi-bold text-white">
				THE Scale-Out NAS File System for Software Defined Storage
			</h2>

			<p class="small">
				Copyright &copy; 2018 PSPACE Technologies, inc. All rights reserved.
			</p>
		</div>
		<!-- END Background Caption-->
	</div>
	<!-- END Forgot Password Background Pic Wrapper-->
	<!-- START Forgot Password Right Container-->
	<div class="login-container bg-white">
		<div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
			<img alt="" class="m-t-5" src="/assets/img/logo.png">

			<p class="p-t-35">Sign into CSSP Managemant Portal</p>
			<!-- START Forgot Password Form -->
			<form class="p-t-15" role="form" #loginForm="ngForm" (submit)="onSubmit()">
				<div class="form-group form-group-default" [class.has-error]="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
					<label for="password">Password</label>
					<input type="password" class="form-control" placeholder="{{ 'UL_COMMON_ACCOUNT_NEW_PASSWORD' | translate }}" id="password" name="password" [(ngModel)]="requestResetPassword.NewPassword" #newPassword="ngModel" required>
				</div>
				<div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
					<label *ngIf="newPassword.errors.required" class="error">{{ 'EM_COMMON_ACCOUNT_REQUIRE_NEW_PASSWORD' | translate }}</label>
				</div>
				<div class="form-group form-group-default" [class.has-error]="newConfirmPassword.invalid && (newConfirmPassword.dirty || newConfirmPassword.touched)">
					<label for="confirm-password">Password</label>
					<input type="password" class="form-control" placeholder="{{ 'UL_COMMON_ACCOUNT_CONFIRM_NEW_PASSWORD' | translate }}" id="confirm-password" name="password" [(ngModel)]="requestResetPassword.NewConfirmPassword" #newConfirmPassword="ngModel" required>
				</div>
				<div *ngIf="newConfirmPassword.invalid && (newConfirmPassword.dirty || newConfirmPassword.touched)">
					<label *ngIf="newConfirmPassword.errors.required" class="error">{{ 'EM_COMMON_ACCOUNT_REQUIRE_NEW_PASSWORD' | translate }}</label>
				</div>

				<button kendoButton [primary]="true" look="outline" [disabled]="loginForm.invalid" title="{{ 'UL_COMMON_ACCOUNT_RESET_PASSWORD' | translate }}">
					{{ 'UL_COMMON_ACCOUNT_RESET_PASSWORD' | translate }}
				</button>
				<button kendoButton [primary]="false" look="outline" class="m-l-10" (click)="onCancel()" title="{{ 'UL_BUTTON_COMMON_CANCEL' | translate }}">
					{{ 'UL_BUTTON_COMMON_CANCEL' | translate }}
				</button>
			</form>
			<!--END Forgot Password Form-->
			<div class="pull-bottom sm-pull-bottom">
				<div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
					<div class="col-sm-3 col-md-2 no-padding">
						<!--<img alt="" class="m-t-5" src="/assets/img/logo.png">-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END Forgot Password Right Container-->
</div>
