<ng-template #template let-anchor>
	<span>{{ anchor.nativeElement.innerText }}</span>
</ng-template>
<div kendoTooltip class="common-grid-wrapper"
		 showOn="none"
		 [tooltipTemplate]="template"
		 filter=".k-grid td,th,td>span"
		 (mouseover)="showTooltip($event)">
	<kendo-grid [data]="detailGrid.gridView"
							[height]="detailGrid.height"
							[resizable]="detailGrid.isUseResize"
							[kendoGridSelectBy]="getSelectionKey"
							[selectedKeys]="detailGrid.selectedKeys"
							[selectable]="detailGrid.selectableSettings"
							[pageSize]="detailGrid.pageSize"
							[pageable]="detailGrid.pageable"
							[skip]="detailGrid.skip"
							[filterable]="detailGrid.filterable"
							[sortable]="detailGrid.sortSettings"
							[sort]="detailGrid.sortColumns"
							(sortChange)="sortChange($event)"
							(selectedKeysChange)="onSelectedKeysChange($event)"
							(selectionChange)="selectionChange($event)"
							(pageChange)="pageChange($event)"
							(cellClick)="cellClick($event)"
							class="custom-grid">
		<ng-template kendoGridToolbarTemplate>
			<ng-template [ngTemplateOutlet]="detailToolbarTemplate">
			</ng-template>
		</ng-template>
		<kendo-grid-checkbox-column [width]="40" [showSelectAll]="detailGrid.selectableSettings?.mode === 'multiple' && detailGrid.isShowSelectAll" *ngIf="detailGrid.isUseCheckboxSelect"></kendo-grid-checkbox-column>
		<kendo-grid-column class="text-center" [width]="70" [title]="'UL_COMMON__NUMBER' | translate" *ngIf="detailGrid.isUseSequence">
			<ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
				<!--			<span *ngIf="detailGrid.gridView.total - rowIndex > 0">{{ detailGrid.gridView.total - rowIndex }}</span>-->
				<span *ngIf="rowIndex >= 0">{{ rowIndex + 1 }}</span>
			</ng-template>
		</kendo-grid-column>

		<kendo-grid-column [class]="column.class" *ngFor="let column of detailGrid.columns" [width]="column.width" [title]="column.title | translate" [field]="column.field" [format]="column.format" [hidden]="column.isHidden" [locked]="column.locked" [sortable]="column.sortable === undefined || column.sortable">
			<!-- 편집이 불가능한 경우 -->
			<ng-template *ngIf="!column.editable && !column.format && !column.customTemplate" kendoGridCellTemplate let-dataItem>
				<span [style.opacity]="detailGrid.isUseDisabledGrid && dataItem[detailGrid.disabledGridProperty] ? 0.4 : 1"
						 [innerHTML]="dataItem | dynamicPipe : column.pipe : column.pipeExtra : column.field | safeHtml"></span>
			</ng-template>
			<ng-template *ngIf="!column.editable && !column.format && !!column.customTemplate" kendoGridCellTemplate let-dataItem>
				<span [style.opacity]="detailGrid.isUseDisabledGrid && dataItem[detailGrid.disabledGridProperty] ? 0.4 : 1"
						 [innerHTML]="dataItem[column.field] | dynamicPipe : column.pipe : column.customTemplate | safeHtml"></span>
			</ng-template>
			<!-- end of 편집이 불가능한 경우 -->
			<!-- 편집이 가능한 경우 -->
			<!-- 타입이 지정되지 않거나 텍스트인 경우 -->
			<ng-template *ngIf="column.editable && (!column.editType || column.editType === 'text')" kendoGridCellTemplate let-dataItem>
				<input class="form-control" kendoGridFocusable [(ngModel)]="dataItem[column.field]" name="{{column.field}}" type="text" value="{{dataItem[column.field]}}"/>
			</ng-template>
			<!-- 타입이 checkbox인 경우 -->
			<ng-template *ngIf="column.editable && (column.editType && column.editType === 'checkbox')" kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
				<input kendoGridFocusable (click)="onChangeColumnCheckAll(column.field, $event.target.checked)" type="checkbox" />
				{{column.title}}
			</ng-template>
			<ng-template *ngIf="column.editable && (column.editType && column.editType === 'checkbox')" kendoGridCellTemplate let-dataItem>
				<input kendoGridFocusable name="{{column.field}}" type="{{column.editType}}" [checked]="dataItem[column.field]" (click)="onChangeColumnCheck(dataItem, column.field, $event.target.checked)" />
			</ng-template>
			<!-- end of 편집이 가능한 경우 -->
		</kendo-grid-column>
		<ng-template kendoGridNoRecordsTemplate>
			{{ 'UL_COMMON__NO_DATA' | translate }}
		</ng-template>
	</kendo-grid>
	<app-loading [isActivate]="isLoading"></app-loading>
</div>
