.login-wrapper {
  height: 100%;
  background-color: #ffffff;
  & > * {
    height: 100%;
  }
  .bg-pic{
    position: absolute;
    width: 100%;
    overflow: hidden;
    & > .img-holder{
      height: 100%;
      width: 100%;
      opacity: 0.6;
      background-size: cover;
    }
  }
  .login-container{
    width: 496px;
    display: block;
    position: relative;
    float:right;
  }
  .bg-caption{
    width: 500px;
  }
}
