<div class="login-wrapper ">
	<!-- START Forgot Password Background Pic Wrapper-->
	<div class="bg-pic">
		<!-- START Background Pic-->
		<div class="img-holder"  [ngStyle]="{'background':'url(assets/img/account-background-img.jpg)'}"></div> 
		<!-- START Background Caption-->
		<div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
			<h1 class="semi-bold text-white">
				<span style="font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;">
					<span style="font-size:61px;">InfiniStor</span>
				</span>
			</h1>
			<h2 class="semi-bold text-white">
				THE Scale-Out NAS File System for Software Defined Storage
			</h2>

			<p class="small">
				Copyright &copy; 2018 PSPACE Technologies, inc. All rights reserved.
			</p>
		</div>
		<!-- END Background Caption-->
	</div>
	<!-- END Forgot Password Background Pic Wrapper-->
	<!-- START Forgot Password Right Container-->
	<div class="login-container bg-white">
		<div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
			<img alt="" class="m-t-5" src="/assets/img/logo.png">

			<p class="p-t-35">Sign into CSSP Managemant Portal</p>
			<!-- START Forgot Password Form -->
			<form class="p-t-15" role="form" #loginForm="ngForm" (submit)="onSubmit()">
				<!-- START Form Control-->
				<div class="form-group form-group-default" [class.has-error]="loginUserName.invalid && (loginUserName.dirty || loginUserName.touched)">
					<label for="userId">User ID</label>
					<input type="text" id="userId" name="userId" [(ngModel)]="requestForgotPassword.LoginId" #loginUserName="ngModel" required placeholder="{{ 'UL_COMMON_ACCOUNT_USER_ID' | translate }}" class="form-control">
				</div>
				<div *ngIf="loginUserName.invalid && (loginUserName.dirty || loginUserName.touched)">
					<label *ngIf="loginUserName.errors.required" class="error">{{ 'EM_COMMON_ACCOUNT_REQUIRE_LOGIN_ID' | translate }}</label>
				</div>
				<!-- END Form Control-->
<!--				<button class="btn btn-primary btn-cons m-t-10" type="submit" [disabled]="loginForm.invalid">{{ 'UL_BUTTON_ACCOUNT_FORGOT_PASSWORD' | translate }}</button>-->
<!--				<button class="btn btn-dark btn-cons m-t-10" type="button" [routerLink]="'/account/login'">{{ 'UL_BUTTON_COMMON_CANCEL' | translate }}</button>-->
				<button kendoButton [primary]="true" look="outline" [disabled]="loginForm.invalid" title="{{ 'UL_BUTTON_ACCOUNT_FORGOT_PASSWORD' | translate }}">
					{{ 'UL_BUTTON_ACCOUNT_FORGOT_PASSWORD' | translate }}
				</button>
				<button kendoButton [primary]="false" look="outline" class="m-l-10" (click)="onCancel()" title="{{ 'UL_BUTTON_COMMON_CANCEL' | translate }}">
					{{ 'UL_BUTTON_COMMON_CANCEL' | translate }}
				</button>
			</form>
			<!--END Forgot Password Form-->
			<div class="pull-bottom sm-pull-bottom">
				<div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
					<div class="col-sm-3 col-md-2 no-padding">
						<!--<img alt="" class="m-t-5" src="~/assets/img/logo.png">-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END Forgot Password Right Container-->
</div>
