[Unit]
Description=KSAN API Portal Service
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a ksan-api-portal
ExecStop=/usr/bin/docker stop -t 2 ksan-api-portal

[Install]
WantedBy=multi-user.target
