[Unit]
Description=KSAN Log Manager Service
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a ksan-logmanager
ExecStop=/usr/bin/docker stop -t 2 ksan-logmanager

[Install]
WantedBy=multi-user.target